<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/tc/" method="POST" enctype="multipart/form-data">
        <p>
            <input type="text" name="user" placeholder="用户名" />
            <input type="password" name="psd" placeholder="密码" />
        </p>
        <p>
            boy:<input type="radio" name="gender" value="1"/>
            girl:<input type="radio" name="gender" value="2"/>
        </p>
        <p>
            a:<input type="checkbox" name="char" value="a"/>
            b:<input type="checkbox" name="char" value="b"/>
            c:<input type="checkbox" name="char" value="c"/>
            d:<input type="checkbox" name="char" value="d"/>
        </p>
            <input type="file" name="file"/>
        <p>
            <select name="city">
                <option value="gz">广州</option>
                <option value="yn">云南</option>
                <option value="cq">重庆</option>
            </select>
        </p>
        <p>
            <
        </p>
        <p>
            <input type="submit" value="提交">
        </p>
    </form>
</body>
</html>